spring:
  profiles:
    active: local

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME} # .env DB_NAME 확인
    username: ${DB_USER}      # .env DB_USER 확인
    password: ${DB_PASSWORD} # .env DB_PASSWORD 확인
    driver-class-name: org.postgresql.Driver

  jpa:
    defer-datasource-initialization: true

    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    

app:
  media:
    dir: ${MEDIA_PATH}
    urlPrefix: "/media"