spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update # 엔티티에 맞춰 테이블을 자동으로 생성/수정
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

app:
  media:
    dir: "D:/KeydropMedia"
    urlPrefix: "/media"